*.iml
*/.gradle/
*/build/
.cxx
.DS_Store
.externalNativeBuild
.gradle
.gradle/
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/shelf/
/.idea/workspace.xml
/build
/captures
/local.properties
build/
local.properties
